/* 
背景颜色 .mbgcolor
圆角边框 	.mborder-x
边框颜色 	.mbd-pink
			.mbd-purple
字体
颜色
	.mpink
	.mpurple 
	.mdanger 
	.minfo 
	.msuccess
	.mgrey 
大小	
	.mh1 
	.mh2
	.mh3
	.msmall
	.mlogo
滤镜
mfilter-g0 -   mfilter-g4
mfilter-b1 -   mfilter-b4

伪元素
首字母颜色
mf-word-**		pink purple grey



 */


/* 元素样式 */
.md-inline{
	display: inline !important;
}
/* 位置 */
.mp-abs{
	position: absolute;
}

/* 背景颜色 */
.mbgc-pink {
	background-color: rgba(195, 15, 255, 0.6);
}

.mbgc-pink-1 {
	background-color: rgba(195, 15, 255, 0.5);
}

.mbgc-pink-2 {
	background-color: rgba(195, 15, 255, 0.4);
}

.mbgc-pink-3 {
	background-color: rgba(195, 15, 255, 0.3);
}

.mbgc-pink-4 {
	background-color: rgba(195, 15, 255, 0.2);
}

.mbgc-black {
	background-color: rgba(0, 0, 0, 0.8);
}

.mbgc-black-1 {
	background-color: rgba(0, 0, 0, 0.6);
}

.mbgc-black-2 {
	background-color: rgba(0, 0, 0, 0.4);
}

.mbgc-black-3 {
	background-color: rgba(0, 0, 0, 0.2);
}

.mbgc-black-4 {
	background-color: rgba(0, 0, 0, 0);
}

.mbgc-white {
	background-color: rgba(255, 255, 255, 0.8);
}

.mbgc-white-1 {
	background-color: rgba(255, 255, 255, 0.6);
}

.mbgc-white-2 {
	background-color: rgba(255, 255, 255, 0.4);
}

.mbgc-white-3 {
	background-color: rgba(255, 255, 255, 0.2);
}
.mbgc-white-4 {
	background-color: rgba(255, 255, 255, 0);
}
/* 圆角边框 */
.mborder {
	border-radius: 5px;
}

.mbd-r1 {
	border-radius: 10px;
}

.mbd-r2 {
	border-radius: 15px;
}

.mbd-r3 {

	border-radius: 20px;
}

/* 边框颜色 */
.mbd-pink {
	border: 1px solid rgba(255, 85, 255, 0.8);
}

.mbd-pink-1 {
	border: 1px solid rgba(255, 85, 255, 0.6);
}

.mbd-pink-2 {
	border: 1px solid rgba(255, 85, 255, 0.4);
}

.mbd-pink-3 {
	border: 1px solid rgba(255, 85, 255, 0.2);
}

/* 紫色 */
.mbd-purple {
	border: 1px solid rgba(171, 74, 255, 0.8);
}

.mbd-purple-1 {
	border: 1px solid rgba(171, 74, 255, 0.6);
}

.mbd-purple-2 {
	border: 1px solid rgba(171, 74, 255, 0.4);
}

.mbd-purple-3 {
	border: 1px solid rgba(171, 74, 255, 0.2);
}

/* 字体设置 */
.mpink {
	color: rgba(255, 135, 203, 0.8) !important;
}

.mpurple {
	color: rgba(195, 15, 255, 0.8) !important;
}

.mdanger {
	color: rgba(255, 0, 127, 0.8);
}

.minfo {
	color: rgba(85, 170, 255, 0.8);
}

.msuccess {
	color: rgba(65, 213, 156, 0.8);
}
.mwhite{
	color: white;
}

.mf-word-pink::first-letter {
	color: rgba(255, 85, 255, 0.8);
}

.mf-word-grey::first-letter {
	color: rgba(118, 118, 118, 0.8);
}

.mf-word-purple::first-letter {
	color: rgba(160, 51, 255, 0.6);
}

/* filter设置 */
.mgrey {
	color: grey;
}

.mh1 {
	font-size: 20px;
}

.mh2 {
	font-size: 16px;
}

.mh3 {
	font-size: 12px
}

.msmall {
	font-size: 10px
}

.mlogo {
	font-size: 28px
}

/* 盒子 */
.mshadow-outer {
	box-shadow: 0 0 5px rgba(195, 15, 255, 0.4);
}

.mshadow-inner {
	box-shadow: inset 0 0 5px rgba(195, 15, 255, 0.4);
}

/* 滤镜 */
.mfilter-g0 {
	filter: grayscale(0%);
}

.mfilter-g1 {
	filter: grayscale(10%);
}

.mfilter-g2 {
	filter: grayscale(30%);
}

.mfilter-g3 {
	filter: grayscale(60%);
}

.mfilter-g4 {
	filter: grayscale(100%);
}

.mfilter-b1 {
	filter: blur(0.5px);
}

.mfilter-b2 {
	filter: blur(1px);
}

.mfilter-b3 {
	filter: blur(2px);
}

.mfilter-b4 {
	filter: blur(4px);
}



/* 初始化 */
ul,
li,
p,
div,
a,
span,
input,
section,
table,
img,
button,
label,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
	outline: none !important;
	list-style: none !important;
	font-family: "楷体" !important;
	text-decoration: none !important;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
	padding: 0;
	margin: 0;
}

a:hover{
	color: rgba(255, 85, 255, 0.8) !important;
}	
a{
	color: black ;
}